.container{
    width: 800px;
    height: 1200px;
    background-color: #fff;
    border:solid 2px #999;
    margin: auto;
    font-family: Arial;
    padding: 20px;
}
.ventana{
    width: 100%;
    height: 100%;
    color: #fff;
    position: fixed;
    background-imagen: url(../imagenes/fondoModal.png);
    /*background-color: #e38d13;*/
    top:0;
    left:0;
}
.AddUser{
    width: 300px;
    height: 300px;
    padding: 25px;
    background-color: #fff;
    color: #666;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-lef: -175px;
    margin-top: -175px;
}
